<div class="d-flex align-items-center" style="height: 88vh;">
    <div class="col-md-6 mx-auto text-center">
        <div class="card card-body">
            <h3>{{ errorCode }}</h3>
            <h4 class="text-danger">{{ description }}, <a href="/">return</a></h4>
        </div>
    </div>
</div>