<div class="col-md-7 mx-auto">
    <div class="card">
        <div class="card-header">
            <h4 class="m-0"><b>Profile</b></h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary mb-3" type="button" id="info-panel-btn">
                        Account Info panel
                    </button>
                    <button class="btn btn-primary mb-3" type="button" id="password-panel-btn">
                        Change password panel
                    </button>
                    <button class="btn btn-primary mb-3" type="button" id="username-panel-btn">
                        Change username panel
                    </button>
                    {{!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button> --}}
                </div>
                <div class="col-md-8">
                    {{>profile/info}}
                    {{>profile/password}}
                    {{>profile/username}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/profile.js"></script>