<div class="collapse multi-collapse" id="password-panel">
    <div class="card">
        <div class="card-header">
            <h4><b>Change password panel</b></h4>
        </div>
        <div class="card-body">
            <form action="/profile/changePassword" method="post">
                <div class="form-group mb-3">
                    <input type="password" class="form-control" name="actual_password" placeholder="Actual password:">
                </div>
                <div class="form-group mb-3">
                    <input type="password" class="form-control" name="password" placeholder="New password:">
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Submit changes</button>
                </div>
            </form>
        </div>
    </div>
</div>